@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Barlow:wght@100&family=Rubik:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC";
}

body {
  background-color: black !important;
}

nav {
  font-size: 30px;
  z-index: 3 !important;
}

.nav-link.active.text-light:hover {
  background-color: white !important;
  color: black !important;
}

.nav-link.text-light:hover {
  background-color: white !important;
  color: black !important;
}

.container{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    
  }

  .cards{
    border: 5px solid white;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;   
    justify-content: flex-end; 
    box-shadow: 0 0 10px silver;
    transition: 300ms all;
    background-size: cover;
    background-position: center;
    background-color: #168a8e; 
  }

  .cards-content{
    background-color: rgb(8, 39, 46);
    padding: 10px 5px;
    text-align: center;
    width: 100%;
    transition: 300ms all;
    color: white;
  }

  p {
    font-size: 25px;
  }

  h2{
    font-size: 30px;
  }

  .cards:hover {
    transform: scale(1.1);
  }

  .cards:hover .cards-content{
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 30px !important;
    font-weight: bold !important;

    
    
  }

  @media only screen and (max-width: 500px){ 
    

    .cards {
      width: 170px;
      margin: 10px;
    }
    
  }