@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Barlow:wght@100&family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive}

  body {
    background-image: url(https://i.postimg.cc/KYt6LGN2/shopping-cart-black-background-with-copy-space.jpg) !important ;
    background-size: cover;
    
;
   
  }

.p-5.text-center.text-bg-dark.rounded-3 {
  width: 100%;
  margin-right: 200px !important;
  height: 800px;
  background-image: url(https://i.postimg.cc/KYt6LGN2/shopping-cart-black-background-with-copy-space.jpg) !important;
  
}

nav {
  font-size: 30px;
  z-index: 3 !important;
}

.nav-link.active.text-light:hover {
  background-color: white !important;
  color: black !important;
}

.nav-link.text-light:hover {
  background-color: white !important;
  color: black !important;
}

h1 {
  font-size: 30px !important;
}

.text-body-emphasis {
  font-size:  50px !important;
}